body { font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
h1 { text-align:center; font-weight:normal; }
table { width:100%; border-spacing:0; }
.table-striped tr:nth-of-type(even) { background-color:#eee; }
td { padding:8px; border-top: 1px solid #ccc; }
td.category { font-weight:bold; text-align:center; width:20%; }
td.score { text-align:center; width:20%; }
td.card-info { text-align:center; }
p { text-align: center; }
button { border:0; background-color:white; font-size:24px; }
